@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    background-color: rgb(223, 114, 114);
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

.title {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 30px;
    color: white;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.botones button {
    width: 30%;
    font-size: 40px;
}

.title h1 {
    font-size: 4em;
}

.subtitulos1, .subtitulos2 {
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}



#mano, #colorApostado, #saldoInicial, #cargar {
    width: 23%;
    padding: 5px;
    font-size: 27px;
    margin: 0 auto;
}

#cargar {
    margin-top: 20px;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit input {
    font-size: 30px;
    padding: 5px 20px;
}

#mano {
    margin-top: 10px;
}

#mostrarMensaje {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

#mostrarSaldo, #numero, #mostrarSaldoFinal {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.6em;
}

#numero {
    font-size: 2em;
}

@media (max-width: 676px) {
    .title {
    font-size: 3.7vw;
    padding: 10px 0;
    }

    #redirect, #redirect2, #inicio {
        width: 46%;
        font-size: 5.1vw;
        height: 50px;
        padding: 0px;
        margin: 0;
    }

    #mostrarMensaje, #mostrarSaldo {
        font-size: 7vw;
        text-align: center;
    }

    #saldoInicial, #cargar, #mano, #colorApostado {
        margin-top: 6px;
        font-size: 6vw;
        width: 55vw;
    }

    .subtitulos1, .subtitulos2 {
        text-align: center;
    }
  }